@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MicroSocial App</h1>
    <div class="d-flex flex-row justify-content-center align-content-between">
        <a class="btn btn-outline-dark" asp-area="Identity" asp-page="/Account/Register">
            <i class="bi bi-postcard-fill"></i>Inregistrare
        </a>
        <br />
        <a class="btn btn-outline-dark" asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-key-fill"></i>Logheaza-te
        </a>
    </div>
</div>
